body{
  background-color: white;
}
.Hero {
  width: 98vw;
  height: 75vh;
  background-image: url("../../assets/images/homePageBackground.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center 100%;
  border-radius: 40px;
  margin-left: 10px;
  
  
}

.Hero .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 40px;

}
.Hero .Hero-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 60px;
}
