.selected-photo-container {
    display: inline-block;
    text-align: center; /* Center the image and button horizontally */
  }
  
  .selected-photo-thumbnail {
    max-width: 100px; 
    max-height: 100px; 
    margin-bottom: 10px; /*  spacing between thumbnails */
  }
  
  .remove-photo-btn {
    display: block; /*  button a block-level element */
    margin-top: 5px; /* spacing between the image and button */